/* ==========================================================================
   Portfolio
   ========================================================================== */

   .portfolioItem {
    margin-bottom: 1rem;
    padding: 1.25rem 1.25rem 1.25rem 3rem;
    background: $grey;
    @include md {
        margin-bottom: 0;
        padding: 4rem 4rem 0;
        &:last-child {
            padding-bottom: 4rem;
        }
    }
    &__content {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.5rem;
            width: .2rem;
            height: 100%;
            background: $green;
        }
    }
    &__skills {
        text-transform: uppercase;
    }
}