/* ==========================================================================
   Splash
   ========================================================================== */

   .splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    &--half {
        height: 50vh;
    }
}