/* ==========================================================================
   Grid settings
   ========================================================================== */

.l-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.9375rem;
    &--no-gap {
        grid-gap: 0;
    }
}