.l-grid {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    &--no-gap {
        grid-gap: 0;
    }

    @include md { 
        width: 750px;
    }
    @include lg {
        width: 970px;
    }
    @include xlg {
        width: 1170px;
    }
}