/* ==========================================================================
   Header
   ========================================================================== */

.header {
    position: relative;
    &__button {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}