/* ==========================================================================
General
========================================================================== */

.centeredBlock {
    grid-column: 1 / 13;
    @include md {
        grid-column: 2 / 12;
    }

    @include lg {
        grid-column: 3 / 11;
    }
}
