/* ==========================================================================
   Layout
   ========================================================================== */

.l-container {
    padding: 0 0.9375rem;
    @include md { 
        margin: 0 auto;
        width: 720px;
        
    }
    @include lg {
        width: 940px;
    }
    @include xlg {
        width: 1140px;
    }
}


.l-center-block {
    padding: 0 0.9375rem;
    
    @include md {
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }

    @include lg {
        width: 60%;
    }
}
