/* ==========================================================================
   Navigation
   ========================================================================== */

.mainNav {
   ul {
      list-style-type: none;
      margin-left: 0;

      li {
         margin-bottom: 2rem;
      }
   }
}